.movie-list {
  display: grid;
  background-color: #ffffff;
  width: 1010px;
  grid-template-columns: 451px 451px;
  grid-gap: 36px;
  row-gap: 34px;
  justify-content: center;
  padding-top: 21px;
  margin-left: auto;
  margin-right: auto;
}

.no-movies {
  width: 90%;
  position: absolute;
  top: 50px;
  left: 5%
}

.movie-list {
  margin-bottom: 36px;
}

@media (max-width: 1010px) {
  .movie-list {
    grid-template-columns: 1fr;
    width: 100%;

  }
}
