.movie {
  position: relative;
  display: flex;
  width: 451px;
  height: 279px;
  font-family: 'Inter';
  box-shadow: 0px 4px 12px 0px #00000026;
  justify-self: center;
  overflow: hidden;
}

.movie-title {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 500;
  margin-bottom: 7px;
}

.movie-spinner {
  position: absolute;
  top: 125px;
  left: 80px;
}

.movie-date {
  padding: 0;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #827e7e;
}

.tags-list {
  display: flex;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 7px;
  overflow-x: auto;
  scrollbar-width: thin;
  width: 228px;
}

.tag {
  display: block;
  font-size: 12px;
  margin-left: 8px;
  padding: 2px 3px;
  list-style: none;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  color: #000000a6;
  max-height: 16px;
  white-space: nowrap;
}

.tag:first-child {
  margin-left: 0;
}

.movie-description {
  width: 228px;
  height: 123px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 12px;
  line-height: 22px;
  margin-top: 7px;
  margin-bottom: 0px;
}

.movie-poster {
  overflow: hidden;
  max-width: 172px;
  background-color: #000;
  width: 172px;
  min-height: 279px;
  margin-top: auto;
}

.movie-user-rate {
  margin-left: 20px;
  font-size: 18px;
}

.movie-user-rate > li {
  margin-right: 5px !important;
}

.movie-average {
  display: block;
  position: absolute;
  right: 17.5px;
  top: 16.5px;
  font-size: 12px;
  min-width: 20px;
}

.movie-average::after {
  content: '';
  position: absolute;
  border: 2px solid #e9d100;
  border-radius: 50%;
  top: -7.5px;
  left: -7.5px;
  width: 30px;
  height: 30px;
}

.red-border::after {
  border-color: #e90000;
}

.orange-border::after {
  border-color: #e97e00;
}

.yellow-border::after {
  border-color: #e9d100;
}

.green-border::after {
  border-color: #66e900;
}
